.c-link {

  &__title {
    margin-right: 4px;

    &:hover {
      color: #888888;
    }
  }

  &__author {
    background: #ffbf80;
    padding: 4px;

    @include selection-dark;

    &:hover {
      color: #000000;
      text-decoration: underline;
      transition: .6s;
    }
  }

  &__category {
    display: inline-block;
    padding: 4px;
    border: 1px solid #404040;
    background: #ffffff;

    &-underline {
      border: none;
      text-decoration: underline;
    }

    &:hover {
      background: #404040;
      color: #ffffff;
    }
  }

  &__read-more, &__back {
    display: inline-block;
    margin-bottom: 1.4rem;
    text-decoration: underline;

    @include selection-dark;

    &:hover {
      color: #888888;
    }
  }
}