$padding-title-description: 14px;
$padding-article: 18px;
$padding-paragraph: 10px;

.p-article {
  padding-bottom: $padding-article;
  margin-bottom: 1.45rem;

  &__title {
    font-size: 1.2rem;
    margin-bottom: .6rem;
    padding-bottom: 0;

    &-from-author {
      margin-bottom: 1.2rem;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }

  &__date {
    font-size: .8rem;
    margin-bottom: .6rem;
  }

  &__excerpt > p {
    margin-bottom: .8rem;
  }

  p {
    padding-bottom: $padding-paragraph;
  }

  p:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
