.p-footer {
  height: 200px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,.05);
  background: #333333;
  color: #ffbf80;
  margin-top: auto;

  @include selection;

  &__content {
    position: relative;
    top: 100px;
    transform: translateY(-50%);
  }
}