@include selection;

body {
  color: #404040;
  background: #ffffff;
  line-height: 1.625;
}

a {
  text-decoration: none;
  color: #333333;
  transition: all .6s ease;
  padding-bottom: 4px;
}

a:hover {
  color: #000000;
}

h1 {
  margin-bottom: 0;

  a {
    border: none;
    text-transform: capitalize;
    padding: 0;
    font-size: initial;
  }
  a:hover {
    font-size: initial;
  }
}
