// Variables: colors, sizes, fonts

/* Colors
========================================================================== */
$color_main: #333333;
$color_white: #F4F4F5;
$color_grey: #B0A4A1;
$color_orangeDeep: #E15543;
$color_orange: #B57E68;
$color_bronze: #5B524C;

/* Font
========================================================================== */

/* Font family
========================================================================== */
